<div class="position-relative">
    <div class="container py-5">
        <div class="row gx-5">
            <div class="col-4 p-3">
                <p class="fw-bold">CÔNG TY TNHH YOUMED VIỆT NAM</p>
                <p><strong>VPĐD:</strong> 523 Tô Hiến Thành, P.14, Q.10, TP. HCM</p>
                <p>
                    <strong>Hotline:</strong> <a href="tel:19002805" class="font-medium hover:underline">1900-2805</a> (8:30 - 20:30 từ T2 đến T7) </p>
                <p>
                    Số ĐKKD 0315268642 do Sở Kế hoạch và Đầu tư TP. Hồ Chí Minh cấp lần đầu ngày 14/09/2018.
                </p>
                <p>
                    Chịu trách nhiệm nội dung:
                    <a href="https://youmed.vn/tin-tuc/duong-anh-hoang/" class="hover:underline underline-offset-2 hover:text-primary font-medium">
                            Dược sĩ Dương Anh Hoàng</a>.
                </p>
            </div>
            <div class="col-3 p-3">
                <p class="fw-bold label">Hỗ trợ</p>
                <ul>
                    <li>
                        <a href="">Điều Khoản Sử Dụng</a>
                    </li>
                    <li>
                        <a href="">Chính Sách Bảo Mật</a>
                    </li>
                    <li>
                        <a href="">Chính sách giải quyết khiếu nại</a>
                    </li>
                    <li>
                        <a href="">Hỗ trợ khách hàng cskh&#64;youmed.vn</a>
                    </li>
                </ul>
            </div>
            <div class="col-3 p-3">
                <p class="fw-bold label">Dịch vụ</p>
                <ul>
                    <li>
                        <a href="">Đăt khám bác sĩ</a>
                    </li>
                    <li>
                        <a href="">Đặt khám Bệnh viện</a>
                    </li>
                    <li>
                        <a href="">Đặt khám Phòng khám</a>
                    </li>
                    <li>
                        <a href="">Youmed Store</a>
                    </li>
                    <li>
                        <a href="">Y360</a>
                    </li>
                    <li>
                        <a href="">Youmed Clinic</a>
                    </li>
                </ul>
            </div>

            <div class="col-2 p-3">
                <p class="fw-bold ">Về Youmed</p>
                <ul>
                    <li>
                        <a href="">Giới thiệu về Youmed</a>
                    </li>
                    <li>
                        <a href="">Ban điều hành</a>
                    </li>
                    <li>
                        <a href="">Nhân sự và tuyển dụng</a>
                    </li>
                    <li>
                        <a href="">Liên hệ</a>
                    </li>
                </ul>
            </div>

            <div class="col-4 p-3">
                <p class="fw-bold">Kết nối với chúng tôi</p>
                <ul class="d-flex column-gap-3">
                    <li>
                        <a href="">
                            <fa-icon [icon]="faFacebook"></fa-icon>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <fa-icon [icon]="faLinkedin"></fa-icon>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <fa-icon [icon]="faXTwitter"></fa-icon>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <fa-icon [icon]="faYoutube"></fa-icon>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-8 p-3">
                <ul class="d-flex h-100 justify-content-end align-items-center column-gap-3">
                    <li>
                        <a href=""><img src="/assets/images/logoCCDV.png" alt="" class="h-auto" style="width: 100px;"></a>
                    </li>
                    <li>
                        <a href=""><img src="/assets/images/logoDMCA.png" alt="" class="" style="width: 100px; height: 37px"></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>