<div class="booking-doctor space-section">
    <div class="title-section">
        <div class="title">
            <h5 style="font-size: 20px; font-weight: 700;">Đặt khám bác sĩ</h5>
        </div>
        <button type="button" class="btn btn-more-0 rounded-pill">
            Xem tất cả
        </button>
    </div>

    <app-doctors></app-doctors>

</div>

<div class="specialties-section">
    <div class="title">
        <h2 class="text-4xl font-bold text-center">Đa dạng chuyên khoa khám</h2>
        <p class="text-sm my-2 text-center" style="--tw-text-opacity: 1; color: rgb(107, 114, 128)">Đặt khám dễ dàng và tiện lợi hơn với đầy đủ các chuyên khoa</p>
    </div>
    <div class="mt-5">
        <div class="row">
            @for (specialty of specialties; track $index) {
            <div class="col-2 p-3 text-center specialty-item">
                <img [src]="'assets/images/specialties/' + getIcon(specialty.name)" alt="" class="h-auto icon-specialty">
                <p class="specialty-name">{{specialty.name}}</p>
            </div>
            }
        </div>
    </div>
</div>