<div class="banner">
    <div class="information-search">
        <div class="information">
            <h1>Ứng dụng đặt khám</h1>
            <p style="line-height: 32px;">Đặt khám với hơn 600 bác sĩ, 25 bệnh viện, 100 phòng khám trên YouMed để có số thứ tự và khung giờ khám trước.</p>
        </div>
        <div class="search">
            <input type="text" class="rounded-pill search-input" placeholder="Bác sĩ, bệnh viện, phòng khám...">
            <button class="button" class="btn search-button">
                <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
            </button>
        </div>
    </div>
    <div class="banner-image">
        <img src="/assets/images/banner.jpg" alt="">
    </div>
</div>