/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", "Encode Sans Expanded", sans-serif !important;
}

img {
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

p {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.m-container {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
}

.custom-btn-primary {
    border-radius: 4px;
    background-color: #1975dc;
    margin-top: 24px;
    width: 100%;
    padding: 14px 20px;
    color: #fff;
    text-align: center;
    letter-spacing: 0.75px;
    font: 700 14px Manrope, sans-serif;
    border: none;
    cursor: pointer;
    &:disabled {
        background-color: #cccccc;
        color: #666666;
        cursor: not-allowed;
        opacity: 0.7;
    }
}

// $primary-color: rgb(25, 117, 220);